<%= render 'shared/navbar', title: '회원정보', back: true %>

<div class="page-content">
  <div class="segments-page">
    <div class="container">
      <div class="profile-edit">
        <div class="content-edit">
          <div class="profile-user">
            <div class="content-image">
              <%= image_tag(current_user.thumbnail_url, id: 'user-thumbnail') %>
              <%= form_for(current_user, remote: true) do |f| %>
                <%= f.file_field :thumbnail, id: 'thumbnail-update', onchange: 'updateThumbnail(this);' %>
                <label for="thumbnail-update" class="icon-upload"><i class="fas fa-camera"></i></label>
                <%= f.submit 'hidden', id: 'image-update', class: 'display-none' %>
              <% end %>
            </div>
          </div>
          <div class="divider-space"></div>
          <div class="wrap-form">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'list no-hairlines-md list-box', id: 'form' }) do |f| %>
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :name, '사용자명', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.text_field :name, readonly: true %>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :email, '이메일', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.email_field :email, readonly: true %>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :phone, '전화번호', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.text_field :phone, required: true %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :gender, '성별', class: 'item-title item-label' %>
                    <div id="gender-list">
                      <%= f.label :gender, '남', value: 'man' %>
                      <%= f.radio_button :gender, 'man' %>
                      <%= f.label :gender, '여', value: 'woman' %>
                      <%= f.radio_button :gender, 'woman' %>
                    </div>
                  </div>
                </li>

                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :zipcode, '우편번호', class: 'item-title item-label' %>
                    <div class="item-input-wrap row">
                      <div class="col-50 zipcode-col">
                        <%= f.text_field :zipcode, readonly: true %>
                      </div>
                      <div class="col-50 zipcode-col">
                        <button type="button" id="zipcode-btn" class="button button-outline">검색</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :address1, '주소', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.text_field :address1, readonly: true %>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :address2, '상세주소', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.text_field :address2 %>
                    </div>
                  </div>
                </li>

                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :password, '비밀번호', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.password_field :password, autocomplete: "off", class: "form-control mypage__form_control form-control-lg rounded-0" %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :password_confirmation, '비밀번호 확인', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control mypage__form_control form-control-lg rounded-0" %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <%= f.label :current_password, '현재 비밀번호', class: 'item-title item-label' %>
                    <div class="item-input-wrap">
                      <%= f.password_field :current_password, autocomplete: "off", class: "form-control mypage__form_control form-control-lg rounded-0", placeholder: "정보 수정시 필수입니다." %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
              </ul>
            <br>
            <%= f.submit '저장하기', id: 'submit-button', class: 'button button-outline gen-preloader' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :style do %>
  #user-thumbnail {
    width: 80px;
    height: 80px;
  }

  #gender-list {
    display: flex;
  }

  .zipcode-col {
    padding: 5px;
  }
<% end %>

<%= content_for :init do %>
  phoneNumberFix($('#user_phone'));
  $$('#submit-button').on('click', function(){
    app.preloader.show();
    setTimeout(function(){
      app.preloader.hide();
    }, 2000);
  });
<% end %>
