<%#= render 'shared/navbar', title: '채팅방', back: true %>

<div class="subnavbar">
  <form class="searchbar searchbar-init">
    <div class="searchbar-inner">
      <div class="searchbar-input-wrap">
        <input type="search" placeholder="심부름 제목으로 검색해주세요.">
        <i class="searchbar-icon"></i>
        <span class="input-clear-button"></span>
      </div>
      <span class="searchbar-disable-button if-not-aurora">Cancel</span>
    </div>
  </form>
</div>

<div class="page-content hide-toolbar-on-scroll">
  <div class="segments-page">
    <div class="container">
    <!-- Searchbar backdrop -->
    <div class="searchbar-backdrop"></div>

      <div class="forum searchbar-found">
        <% if @chatrooms.present? %>
          <% @chatrooms.each do |room| %>
            <%= link_to(room) do %>
              <div class="content-box">
                <div class="user-forum">
                  <img data-src="<%= room.request_user.thumbnail_url %>" class="lazy lazy-fade-in demo-lazy" style="height: 35px;">
                  <div class="title-name">
                    <span><%= room.event.title %></span><br><span><%= room.request_user&.name %></span>
                  </div>
                </div>
                <div class="content-text">
                  <% if room.messages.exists? %>
                    <h5 class="message-info"><%= room.messages.last.user.name %> : <%= room.messages.last.content %></h5>
                    <small class="message-time"><%= room.messages.last.created_at.strftime("%Y-%m-%d %H:%M") %></small>
                  <% else %>
                    <h4></h4>
                  <% end %>
                </div>
              </div>

              <div class="divider-space"></div>
            <% end %>
          <% end %>
        <% end %>

      </div>
      <!-- Nothing found message -->
      <div class="block searchbar-not-found">
        <div class="block-inner">Nothing found</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var searchbar = app.searchbar.create({
  el: '.searchbar',
  searchContainer: '.forum',
  searchIn: '.title-name',
  on: {
    search(sb, query, previousQuery) {
      console.log(query, previousQuery);
    }
  }
});
</script>

<%= content_for :style do %>
  .message-info {
    display: inline;
  }
  .message-time {
    float: right;
  }
<% end %>
