<%= render 'shared/navbar_default', title: '채팅방', back: true %>

<div class="toolbar messagebar">
  <div class="toolbar-inner">
    <div class="messagebar-area">
      <textarea placeholder="Message" id="message-content"></textarea>
    </div>
    <%= link_to '#', class: 'link', id: 'meesage-send-btn' do  %>
      <i class="icon fas fa-paper-plane send-link"></i>
    <% end %>
  </div>
</div>

<div class="page-content messages-content">
  <div class="messages">
    <div class="messages-title"><b><%= @chatroom.created_at.strftime("%Y년 %m월 %d일,") %></b> <%= @chatroom.created_at.strftime("%H:%M") %></div>

    <div class="divider-space"></div>
    <div class="row">
      <div class="col-80 margin-auto">
        <div class="grids">
          <%= link_to event_path(@chatroom.event) do %>
          <div class="card">
            <div class="content-text">
              <span>
                <b><%= @chatroom.perform_user.name %></b>님이 <b><%= @chatroom.request_user.name %></b>님이 올린 <b><br><%= @chatroom.event.title %></b> 요청을 수락했습니다.<br>
                <small>* 심부름 내용 상세확인은 이곳을 클릭해 주세요.</small>
              </span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="messages">
      <% @chatroom.messages.each do |msg| %>
        <% if msg.sender == current_user %>
          <div class="message message-sent">
            <div class="message-avatar" style="background-image:url(<%= current_user.thumbnail_url %>);"></div>
            <div class="message-content">
              <div class="message-bubble">
                <div class="message-text small"><%= simple_format msg.content %></div>
              </div>
              <div class="message-footer"><%= simple_time msg.created_at %></div>
            </div>
          </div>
        <% else %>
          <div class="message message-received" id="received-message">
            <div class="message-avatar" style="background-image:url(<%= msg.sender.thumbnail_url %>);"></div>
            <div class="message-content">
              <div class="message-name"><%= msg.sender&.name %></div>
              <div class="message-bubble">
                <div class="message-text small"><%= simple_format msg.content %></div>
              </div>
              <div class="message-footer"><%= simple_time msg.created_at %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="popup popup-show-report">
  <div class="view view-init" data-url="<%= new_event_report_path(@chatroom.event) %>"></div>
</div>


<%= content_for :style do %>
  .margin-auto {
    margin: auto;
  }

  .title {
    font-family: sans-serif;
  }

  .send-link {
    color: #94D439 !important;
  }

  .message {
    max-width: 100%;
  }

  .message-bubble {
    padding: 15px !important;
  }
<% end %>


<%= content_for :init do %>
  $$('#report-popup-button').click(function(){
    app.popup.open(".popup-show-report");
  });

  var messages = app.messages.create({
    el: '.messages',
    // First message rule
    firstMessageRule: function (message, previousMessage, nextMessage) {
      if (message.isTitle) return false;
      if (!previousMessage || previousMessage.type !== message.type || previousMessage.name !== message.name) return true;
      return false;
    },
    // Last message rule
    lastMessageRule: function (message, previousMessage, nextMessage) {
      if (message.isTitle) return false;
      if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
      return false;
    },
    // Last message rule
    tailMessageRule: function (message, previousMessage, nextMessage) {
      if (message.isTitle) return false;
      if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
      return false;
    }
  });

  var messagebar = app.messagebar.create({
    el: '.messagebar'
  });

  $$('#meesage-send-btn').click(function(){
    const msgContent = messagebar.getValue().replace(/\n/g, '<br>').trim();
    if (!msgContent.length) return;
    const context = {
      msgContent: msgContent,
      oppenentUserId: `<%= @chatroom.oppenent_user(current_user).id %>`
    }
    messagebar.clear();
    messagebar.focus();
    Rails.ajax({
      url: `/chatrooms/${<%= @chatroom.id %>}/messages`,
      data: $.param(context),
      type: 'post',
      success: function(response){
        messages.addMessage({
          text: msgContent,
          name: `<%= current_user.name %>`,
          avatar: `<%= current_user.thumbnail_url %>`
        });
      }
    });
  });
<% end %>

<%= content_for :before_remove do %>
  setTimeout(function(){
    app.views.current.router.refreshPage();
  }, 300);
<% end %>
