<%= form_for(event, url: check_valid_events_path(id: event.id), method: :post, html: {class: 'list no-hairlines-md', id: form_id}, remote: true) do |f| %>
  <!-- <span id="set-form-method"></span> -->
  <input name="_method" type="hidden" id="set-method" value="post" />
  <ul>
    <li class="item-content item-input" style="margin-bottom: 10px;">
      <div class="item-inner">
        <div class="item-title item-label">제목*</div>
        <div class="item-input-wrap">
          <%= f.text_field :title %>
          <span class="input-clear-button"></span>
        </div>
      </div>
    </li>
		<li class="item-content item-input" style="margin-bottom: 10px;">
			<div class="item-inner">
				<div class="item-title item-label">심부름 받을 건물*</div>
				<div class="item-input-wrap input-dropdown-wrap">
					<%= f.select :building_id, building_selectors, include_blank: true %>
				</div>
			</div>
		</li>
    <li class="item-content item-input" style="margin-bottom: 10px;">
      <div class="item-inner">
        <div class="item-title item-label">상세위치*</div>
        <div class="item-input-wrap">
          <%= f.text_field :detail_place %>
          <span class="input-clear-button"></span>
        </div>
      </div>
    </li>
    <li class="item-content item-input" style="margin-bottom: 10px;">
      <div class="item-inner">
        <div class="item-title item-label">보상금액*</div>
        <div class="item-input-wrap">
          <%= f.select :reward, options_for_select((500..100000).step(500), event.reward), include_blank: true %>
        </div>
      </div>
    </li>
    <li class="item-content item-input" style="margin-bottom: 10px;">
      <div class="item-inner">
        <div class="item-title item-label">제한시간*</div>
        <div class="item-input-wrap">
          <%= f.datetime_local_field :time_limit %>
        </div>
      </div>
    </li>
    <li class="item-content item-input" style="margin-bottom: 10px;">
      <div class="item-inner">
        <div class="item-title item-label">심부름 내용</div>
        <div class="item-input-wrap">
          <%= f.text_area :content %>
        </div>
      </div>
    </li>
    <!--<li class="item-content item-input" style="margin-bottom: 10px;">
      <div class="item-inner">
        <div class="item-title item-label">태그</div>
        <div class="item-input-wrap">
          <%= f.text_field :tag_list %>
        </div>
      </div>
    </li>-->
  </ul>
  <%= f.submit action_name == 'new' ? "심부름 요청하기" : "심부름 수정하기", class: "button button-fill-ios button-w-icon button-full", id: submit_id %>
<% end %>
