<div class="subnavbar">
  <form class="searchbar searchbar-init" data-search-container=".search-list" data-search-in=".item-title">
    <div class="searchbar-inner">
      <div class="searchbar-input-wrap">
        <input type="search" placeholder="제목으로 검색해주세요.">
        <i class="searchbar-icon"></i>
        <span class="input-clear-button"></span>
      </div>
      <span class="searchbar-disable-button">Cancel</span>
    </div>
  </form>
</div>

<div class="page-content hide-toolbar-on-scroll">
  <div class="segments-page">
    <div class="container">

      <div class="forum">
        <% if @events.present? %>
          <% @events.each do |event| %>
            <a href="">
              <div class="content-box">
                <div class="user-forum">
                  <img data-src="<%= event.user.thumbnail_url %>" class="lazy lazy-fade-in demo-lazy" style="height: 35px;">
                  <div class="title-name">
                    <h4><%= event.user&.name %></h4>
                    <span><i class="fas fa-coins"></i> <%= event.reward %>원</span>
                    <span><i class='far fa-clock'></i> <%= event.time_limit.strftime("%Y-%m-%d %H:%M") %>까지</span><span><i class='fas fa-map-marker-alt'></i> <%= event.place %></span>
                  </div>
                </div>
                <div class="content-text">
                  <a href="#"><h5><%= event.content %></h5></a>
                  <%= link_to 'more...', event_path(event) %>
                </div>
              </div>
            </a>

            <div class="divider-space"></div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
