<div class="subnavbar">
  <form class="searchbar searchbar-init" data-search-container=".search-list" data-search-in=".item-title">
    <div class="searchbar-inner">
      <div class="searchbar-input-wrap">
        <input type="search" placeholder="제목으로 검색해주세요.">
        <i class="searchbar-icon"></i>
        <span class="input-clear-button"></span>
      </div>
      <span class="searchbar-disable-button">Cancel</span>
    </div>
  </form>
</div>

<div class="page-content hide-toolbar-on-scroll">
  <div class="segments-page">
    <div class="container">

      <div class="forum">
        <%= link_to '채팅방', chatrooms_path %>
        <% if @events.present? %>
          <% @events.each do |event| %>
              <div class="content-box">
                <div class="user-forum">
                  <img data-src="<%= event.user.thumbnail_url %>" class="lazy lazy-fade-in demo-lazy" style="height: 35px;">
                  <div class="title-name">
                    <span><%= event.user&.name %></span>
                    <% if event.user == current_user %>
                      <a href="#" class="link popover-open" data-popover=".popover-links" style="float: right;"><i class="fa fa-ellipsis-h"></i></a>
                      <div class="popover popover-links event-popover">
              					<div class="popover-inner">
              						<div class="list simple-list">
              							<ul>
              								<li><%= link_to "수정", edit_event_path(event), class: "list-button item-link popover-close" %></li>
              								<li><%= link_to "삭제", event_path(event), method: :delete, class: "list-button item-link popover-close" %></li>
              							</ul>
              						</div>
              					</div>
              				</div>
                    <% elsif user_signed_in? %>
                      <% if event.state == 'matching' %>
                        <%= link_to '내가 하기!', event_perform_path(event), method: :post, class: "button button-fill-ios", style: "float: right;" %>
                      <% else %>
                        <span style="float: right;"><i class="fas fa-check"></i></span>
                      <% end %>
                    <% end %>
                    <div><h5><%= event.title %></h5></div>
                    <span><i class="fas fa-coins"></i> <%= event.reward %>원</span>
                    <span><i class='far fa-clock'></i> <%= event.time_limit.strftime("%Y-%m-%d %H:%M") %>까지</span>
                    <span><i class='fas fa-map-marker-alt'></i> <%= event.place %> <%= event.detail_place %></span>
                  </div>
                </div>
                <div class="content-text">
                  <a href="#"><h4><%= event.content %></h4></a>
                </div>
              </div>

            <div class="divider-space"></div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= content_for :style do %>
  .event-popover {
    width: 25%;
  }
<% end %>
