<%= render 'shared/navbar_default', title: '심부름 상세보기', back: true %>

	<div class="page-content">

		<!-- event-show -->
		<div class="segments-page">
			<div class="container">

				<div class="order-history">
					<div class="accordion">
						<div class="list accordion-list">
							<ul>
								<li class="accordion-item accordion-item-opened list-box">
									<div class="accordion-item-content">
										<div class="row">
											<div class="col-30">
												<div class="content">
													<span>제목</span>
												</div>
											</div>
											<div class="col-70">
												<div class="content">
													<span><%= @event.title %></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-30">
												<div class="content">
													<span>작성자</span>
												</div>
											</div>
											<div class="col-70">
												<div class="content">
													<span><%= @event.user.name %></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-30">
												<div class="content">
													<span>보상금액</span>
												</div>
											</div>
											<div class="col-70">
												<div class="content">
													<span class="price"><%= @event.reward %>원</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-30">
												<div class="content">
													<span>심부름 받을 위치</span>
												</div>
											</div>
											<div class="col-70">
												<div class="content">
													<span><%= @event.place %> <%= @event.detail_place %></span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-30">
												<div class="content">
													<span>제한시간</span>
												</div>
											</div>
											<div class="col-70">
												<div class="content">
													<span class="price"><%= @event.time_limit.strftime("%Y-%m-%d %H:%M") %>까지</span>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-30">
												<div class="content">
													<span>내용</span>
												</div>
											</div>
											<div class="col-70">
												<div class="content">
													<span><%= @event.content %></span>
												</div>
											</div>
										</div>

										<% if @event.state == 'matching' %>
											<div class="row">
												<button class="buttons">심부름 수행하기</button>
											</div>
										<% end %>

										<% if @event.user == current_user && @event.state == 'matching' %>
											<div class="row">
												<div class="col">
													<%= link_to "글 수정하기", edit_event_path(@event), class: "button button-outline-ios" %>
												</div>
												<div class="col">
													<%= link_to "글 삭제하기", event_path(@event), method: :delete, class: "button button-outline-ios" %>
												</div>
											</div>
										<% end %>

									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- end event-show -->

	</div>

<%= content_for :style do %>
	.order-history .accordion .accordion-list ul .accordion-item.accordion-item-opened .accordion-item-content {
		padding: 15px 15px 15px;
	}
<% end %>
