<%= render 'shared/navbar_notitle', title: '마이페이지' %>

<div class="page-content hide-toolbar-on-scroll">

  <!-- settings -->
  <div class="segments-page">
    <div class="container">
      <div class="settings">
        <div class="settings-photo">
          <div class="content-image">
            <img src="<%= @user.thumbnail_url %>">
          </div>
        </div>
        <div class="settings-general">
          <div class="wrap-title">
            <h3>회원정보</h3>
          </div>
          <form class="list no-hairlines-md list-box">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">이름</div>
                  <div class="item-input-wrap">
                    <input type="text" value="<%= @user.name %>" readonly>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">이메일</div>
                  <div class="item-input-wrap">
                    <input type="email" value="<%= @user.email %>" readonly>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">전화번호</div>
                  <div class="item-input-wrap">
                    <input type="text" name="phone" value="<%= @user.phone %>" readonly>
                  </div>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <br>
      <%= link_to '정보 수정하기', edit_user_registration_path, id: 'submit-button', class: 'button button button-fill-ios gen-preloader' %>
    </div>
  </div>
  <!-- end settings -->
</div>
