<%= render 'shared/navbar_notitle', back: false, title: '인증방법 선택' %>

<div class="page-content">
  <!-- reservation -->
  <div class="segments-page">
    <div class="container">
      <div class="reservation">
        <div class="row">
          <div class="col-100">
            <a href="#" class="link popup-open content-box" data-popup=".plane-reservation">
              <i class="fas fa-id-card"></i>
              <h4>학생증 인증</h4>
            </a>
            <div class="popup reservation-popup plane-reservation reservation-content">
              <div class="reservation-header reservation-plane">
                <div class="caption">
                  <i class="fas fa-id-card"></i>
                  <h4>학생증 인증</h4>
                  <div class="icon-close">
                    <a href="#" class="link popup-close"><i class="fas fa-times"></i></a>
                  </div>
                </div>
              </div>
              <div class="reservation-form content-box">
                <div>가입 승인 처리까지는 최대 24시간이 소요될 수 있습니다.</div>
                <p>아래의 사진을 눌러 학생증을 업로드 하세요!</p>
                <%= form_for(current_user, url: submit_student_card_users_path, method: :post, html: {class: 'list no-hairlines-md'}) do |f| %>
                  <ul>
                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="content-image">
                          <%= image_tag('/image_upload.png', id: 'user-thumbnail', style: 'width: 100%;') %>
                          <%= f.file_field :student_card_image, id: 'button-upload', style: "display: none", onchange: 'updateThumbnail(this);' %>
                        </div>
                      </div>
                    </li>

                  </ul>
                  <div class="reservation-button">
                    <%= f.submit '제출하기', class: 'button button-fill-ios button-round-ios' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-100">
            <a href="#" class="link popup-open content-box" data-popup=".hotel-reservation">
              <i class="fas fa-envelope"></i>
              <h4>학생이메일 인증</h4>
            </a>
            <div class="popup reservation-popup hotel-reservation reservation-content">
              <div class="reservation-header reservation-hotel">
                <div class="caption">
                  <i class="fas fa-envelope"></i>
                  <h4>학생이메일 인증</h4>
                  <div class="icon-close">
                    <a href="#" class="link popup-close"><i class="fas fa-times"></i></a>
                  </div>
                </div>
              </div>
              <div class="reservation-form content-box">
                <%= form_for(current_user, url: submit_student_email_users_path, method: :post, remote: true, html: {class: 'list no-hairlines-md'}) do |f| %>
                  <ul>
                    <li class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">학생 이메일</div>
                        <div class="item-input-wrap">
                          <%= f.email_field :student_email %>
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <br>
                  <div class="reservation-button">
                    <%= f.submit '인증받기', class: 'button button-fill-ios button-round-ios', id: 'student_emaiL_submit_btn' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :style do %>
<% end %>

<%= content_for :init do %>
$$('#student_emaiL_submit_btn').click(function(e){
  app.preloader.show();
  const studentEmail = $$('#user_student_email').val();
  if (studentEmail === "") {
    e.preventDefault();
    app.dialog.alert("이메일을 입력해주세요", "");
    app.preloader.hide();
  } else if (!(studentEmail.endsWith("dongguk.edu") || studentEmail.endsWith("dgu.edu"))) {
    e.preventDefault();
    app.dialog.alert("dongguk.edu 또는 dgu.edu 이용", "적합하지 않은 이메일입니다.");
    app.preloader.hide();
  }
});

$$('#user-thumbnail').click(function(){
  $('#button-upload').trigger('click');
});
<% end %>
