<div class="forum searchbar-found">
  <% if @chatrooms.present? %>
    <% @chatrooms.each do |room| %>
      <%= link_to(room) do %>
        <div class="content-box">
          <div class="user-forum">
            <img data-src="<%= room.request_user.thumbnail_url %>" class="lazy lazy-fade-in demo-lazy" style="height: 35px;">
            <div class="title-name">
              <span class="event-title"><%= room.event.title %></span><br><span><%= room.request_user&.name %></span>
            </div>
          </div>
          <div class="content-text">
            <% if room.messages.exists? %>
              <h5 class="message-info"><%= room.messages.last.sender.name %> : <%= room.messages.last.content %></h5>
              <small class="message-time"><%= room.messages.last.created_at.strftime("%Y-%m-%d %H:%M") %></small>
            <% else %>
              <h4></h4>
            <% end %>
          </div>
        </div>

        <div class="divider-space"></div>
      <% end %>
    <% end %>
  <% end %>

</div>

<%= content_for :style do %>
  .message-info {
    display: inline;
  }
  .message-time {
    float: right;
  }
<% end %>
