<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="segmented segment-custom">
      <a href="#tab1" class="button tab-link tab-link-active">알림</a>
      <a href="#tab2" class="button tab-link">채팅</a>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="segments-page segments-tabs">
    <div class="container">
      <div class="tabs-animated-wrap">
        <div class="tabs">
          <div id="tab1" class="tab tab-active">
            <div class="wrap-title wrap-title-first">
              <h3>Timeline Life</h3>
            </div>
            <div class="timeline">
              <div class="timeline-item">
                <div class="timeline-item-date">
                  05 <small>June</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                  <div class="timeline-item-inner">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, exercitationem.
                  </div>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline-item-date">
                  06 <small>June</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                  <div class="timeline-item-inner">
                    Lorem ipsum dolor sit amet.
                  </div>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline-item-date">
                  07 <small>June</small>
                </div>
                <div class="timeline-item-divider"></div>
                <div class="timeline-item-content">
                  <div class="timeline-item-inner">
                    Lorem ipsum dolor sit amet.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="tab2" class="tab">
            <%#= render "chatroom_list", chatrooms: @chatrooms %>
            <div class="page-content hide-toolbar-on-scroll">

                <div class="container">
                  <div class="forum">
                    <% if @chatrooms.exists? %>
                      <% @chatrooms.each do |room| %>
                        <%= link_to(room) do %>
                          <div class="content-box">
                            <div class="user-forum">
                              <img data-src="<%= room.request_user.thumbnail_url %>" class="lazy lazy-fade-in demo-lazy" style="height: 35px;">
                              <div class="title-name">
                                <span class="event-title"><%= room.event.title %></span><br><span><%= room.request_user&.name %></span>
                              </div>
                            </div>
                            <div class="content-text">
                              <% if room.messages.exists? %>
                                <h5 class="message-info"><%= room.messages.last.user.name %> : <%= room.messages.last.content %></h5>
                                <small class="message-time"><%= room.messages.last.created_at.strftime("%Y-%m-%d %H:%M") %></small>

                              <% end %>
                            </div>
                          </div>

                          <div class="divider-space"></div>
                        <% end %>
                      <% end %>
                    <% end %>

                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
