<div class="page-content">
  <div id="map"></div>
</div>

<%= content_for :style do %>
#map {
  width: 100%;
  height: 100%;
}

.gm-svpc {
  display: none;
}
<% end %>

<%= content_for :init do %>
const locations = [
  <% @buildings.each do |building| %>
    <% matching_events = building.events.matching %>
    <% matching_events_count = matching_events.size %>
    <% events_count = (matching_events_count == 0) ? '' : "(#{matching_events_count})" %>
    ['<%= building.name %><%= events_count %>', <%= building.lat %>, <%= building.lng %>, <%= building.id %>],
  <% end %>
]
initMap(locations);

function initMap(locations) {
  var map = new google.maps.Map(document.getElementById("map"), {
    center: {lat: 37.557468, lng: 127.000968},
    zoom: 16.5
  });
  var infowindow = new google.maps.InfoWindow();

  for (i = 0; i < locations.length; i++) {
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map,
      label: locations[i][0],
      title: locations[i][0],
    });
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        app.views.current.router.navigate(`/buildings/${locations[i][3]}`);
      }
    })(marker, i));
  }
}
<% end %>
