<div class="navbar no-shadow">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" id="report-popup-close-button">
        <i class="icon fas fa-times"></i>
      </a>
    </div>
    <div class="title">신고하기</div>
  </div>
</div>


<div class="page-content">
  <div class="segments-page">
    <div class="container">

      <div class="content-box">
        <%= form_for(@report, html: {class: 'list no-hairlines-md'}, url: chatroom_reports_path, remote: true) do |f| %>
          <ul>
            <li class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-floating-label">신고 내용</div>
                <div class="item-input-wrap">
                  <%= f.text_area :content, placeholder: "내용을 입력하세요..." %>
                </div>
              </div>
            </li>
          </ul>
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.submit '신고하기', class: "button button-fill-ios button-w-icon button-full", id: "report-submit-button" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= content_for :init do %>
$$('#report-popup-close-button').click(function(){
  app.popup.close();
});
<% end %>
