<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">

    <meta name="theme-color" content="#94D439">
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-title" content="Nectar Lite" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="format-detection" content="telephone=no" />
    <title>해줘</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'theme' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/4.2.2/css/framework7.bundle.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vuma/css/style.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="statusbar"></div>
      <% if user_signed_in? %>
        <% if current_user.unapproved? %>
          <div class="view view-init view-main" data-url="<%= select_certification_users_path %>">
          </div>
        <% else %>
          <div class="views tabs">
            <div class="toolbar tabbar tabbar-labels toolbar-bottom no-shadow">
              <div class="toolbar-inner">
                <a href="#home-tab" class="tab-link tab-link-active"><i class="icon fas fa-home"></i><span class="tabbar-label">홈</span></a>
                <a href="#map-tab" class="tab-link"><i class="icon fas fa-map"></i><span class="tabbar-label">학교지도</span></a>
                <a href="#" class="tab-link" id="create-event-popup-button"><i class="far fa-plus-square" id="create-errand"></i></a>
                <a href="#noti-chat-tab" class="tab-link"><i class="icon fa fa-bell"></i><span class="tabbar-label">알림채팅</span></a>
                <a href="#mypage" class="tab-link"><i class="icon fa fa-user"></i><span class="tabbar-label">마이페이지</span></a>
              </div>
            </div>
            <%= render 'shared/panel' %>
            <div class="view tab tab-active view-main view-init" id="home-tab" data-url="<%= root_path %>&main=true"></div>
            <div class="view tab view-init" id="map-tab" data-url="<%= maps_path %>&main=true"></div>
            <div class="view tab view-init" id="mypage" data-url="<%= mypage_path %>&main=true"></div>
            <div class="view tab view-init" id="noti-chat-tab" data-url="<%= notifications_path %>&main=true"></div>
            <div class="popup popup-show">
              <div class="view view-init" data-url="<%= new_event_path %>?main=true"></div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render 'shared/panel' %>
        <div class="view view-init view-main" data-url="<%= new_user_session_path %>">
        </div>
      <% end %>
    </div>

    <script src="/javascripts/f7.min.js"></script>
    <script type="text/javascript">
      const $$ = Dom7;
      const app = new Framework7({
        root: "#app",
        name: "Haejwo",
        theme: "ios",
        id: "com.insomenia.mobile",
        routes: <%= rails_routes.to_json.html_safe %>,
        view: {
          iosDynamicNavbar: false,
          xhrCache: false,
          stackPages: true,
          pushState: false,
        },
        lazy: {
          threshold: 50,
          sequential: false,
        },
        dialog: {
          buttonOk: '확인',
          buttonCancel: '취소',
          touch: {
            disableContextMenu: false,
          }
        },
      });

      $$(".panel a").on("click", function(){
       app.tab.show('#home-tab');
      });

      $$(".navigate_to_login").click(function(){
        app.tab.show('#home-tab');
      });

      $$('#create-event-popup-button').click(function(){
        app.popup.open(".popup-show");
      });

      $$('#sign-out-button').on('click', function(){
        app.preloader.show();
        setTimeout(function(){
          app.preloader.hide();
        }, 2000);
      });

      if (window.history && window.history.pushState) {
        $(window).on('popstate', function() {
          const pageName = $$('.page-current').data('pageName');
          if ($$('.panel-right').hasClass('panel-active')) {
            app.panel.close();
          }
          else if ($$('.dialog').hasClass('modal-in')) {
            app.dialog.close();
          }
          else if ($$('.sheet-modal').hasClass('modal-in')) {
            app.sheet.close();
          }
          else if ($$('.calendar').hasClass('modal-in')) {
            app.calendar.close();
          }
          else if ($$('.popup').hasClass('modal-in')) {
            app.popup.close();
          }
          else if ($$('.searchbar').hasClass('searchbar-enabled')) {
            $$('#search_tab_disable_button').trigger('click');
          }
          else if (pageName === 'home-index') {
            window.history.back();
          }
          else {
            $$('#back-button').trigger('click');
          }
        });
      }

      const currentUser = <%= raw current_user.to_json %>;

      $(function() {
        <% if current_user %>
          if (window.Android) {
            let android = window.Android;
            console.log(android);
            console.log(android['setUserId']);
            !!android['setUserId'] && android.setUserId('<%= current_user.id %>');
          }
          try {
            webkit.messageHandlers.callbackHandler.postMessage("<%= current_user.id %>");
          } catch(err) {
            console.log('The native context does not exist yet');
          }
        <% end %>
      });

      <% if notice || alert %>
        const notificationFull = app.notification.create({
          icon: '<i class="icon far fa-bell"></i>',
          title: '알림',
          titleRightText: '<%= Time.current %>',
          subtitle: '<%= notice || alert %>',
          text: '',
          closeTimeout: 1000,
        });
        notificationFull.open();
      <% end %>
    </script>
  </body>
</html>
