<template>
  <% main = params[:main] == 'true' ? true : false %>
  <div class="page <%= main ? '' : 'no-toolbar' %>" data-name="<%= data_name %><%= Time.current.to_i %>">
    <%= yield %>
  </div>
</template>
<style>
  <%= yield :style %>
</style>
<script>
  if (<%= !main %>) {
    window.history.pushState('forward', null, '/#' + '<%= data_name %>');
    app.preloader.show();
  }
  return {
    created: function() {
      <%= yield :created %>
    },
    mounted: function() {
      <%= yield :mounted %>
    },
    on: {
      pageInit: function() {
        var notice = '<%= params[:notice] %>';
        var splittedNotice = notice.split('+');
        var joinedNotice = splittedNotice.join(' ');
        if (notice !== '') shortNotification(joinedNotice);
        <%= yield :init %>
      },
      pageAfterIn: function() {
        app.preloader.hide();
        <%= yield :afterin %>
      },
      pageBeforeRemove: function() {
        <%= yield :before_remove %>
      }
    }
  }
</script>
