<template>
  <% toolbar_state = current_page?('/') || (params['main'] == 'true') ? '' : 'no-toolbar' %>
  <div class="page <%= toolbar_state %>" data-name="<%= data_name %><%= Time.now.to_i %>">
    <%= yield %>
  </div>
</template>
<style>
  <%= yield :style %>
</style>
<script>
  <% if params[:main] != 'true' %>
    gen_preloader();
  <% end %>
  return {
    created: function() {
      <%= yield :created %>
    },
    mounted: function() {
      <%= yield :mounted %>
    },
    on: {
      pageInit: function(e) {
        window.history.pushState('forward', null, '/#' + '<%= data_name %>');
        var notice = '<%= params[:notice] %>';
        var splittedNotice = notice.split('+');
        var joinedNotice = splittedNotice.join(' ');
        if (notice !== '') shortNotification(joinedNotice);
        <%= yield :init %>
      },
      pageAfterIn: function() {
        app.preloader.hide();
        <%= yield :afterin %>
      },
      pageBeforeRemove: function() {
        <%= yield :before_remove %>
      }
    }
  }
</script>
